/* Apply box-sizing to all elements */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Define root-level variables */
:root {
  --font-defalut: #293264;
  --primary: #4D5B9E;
}

/* Reset default margin and padding for HTML and body */
html, body {
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-size: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "inter", sans-serif;
}

/* Main container styles */
main {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #F5F7FB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Blob image styles */
.blob-top {
  top: 0px;
  right: 0px;
}

.blob-bottom {
  bottom: 0px;
  left: 0px;
}

.blob-top, .blob-bottom {
  position: absolute;
  width: 20%;
  height: auto;
}

/* Common text styles - change default font color */
.title,
.desc,
.modal-content-title,
.quiz-question,
.answer,
.score-message,
label,
select {
  color: var(--font-defalut);
}

/* Title and description styles */
.title, .desc {
  text-align: center;
}

.title {
  margin: 0 0 0.224em 0;
  font-family: 'Fredoka', sans-serif;
  font-size: 1.95rem;
  letter-spacing: .1em;
  line-height: 1.269em;
  font-weight: 700;
}

.desc {
  margin: 0 0 1.8125em 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.21em;
}

/* Button styles */
button {
  color: #F5F7FB;
  background-color: var(--primary);
  border: none;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: inherit;
  font-size: .9rem;
  padding: 1.0155em 1.8em;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.02); /* Scale up slightly on hover */
}
.start-btn {
  padding: 1.0155em 3.5em;
}

/* Animation for title screen elements */
/* Appear from slightly left */
.title,
.desc,
.start-btn {
  opacity: 0; 
  transform: translateX(-20px); 
  transition: opacity 0.6s ease, transform 0.6s ease; 
}

.title.animate,
.desc.animate,
.start-btn.animate {
  opacity: 1; 
  transform: translateX(0); 
}

/* Modal styles */
.modal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0,0,0,0.4);

}

.modal-content {
  background-color: #FEFEFE;
  margin: auto;
  padding: 3em;
  border: 1px solid #888;
  width: 70%; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Modal content styles */
.modal-content-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

label {
  display: block;
  font-size: .9rem;
  font-weight: 500;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('/custom_arrow.svg') no-repeat;
  background-position: calc(100% - .9em) center;
  background-size: .94em; 
  width: 100%;
  padding: .9em 1.3em .9em 1.3em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1em;
  font-family: inherit;
}

.modal-content-btn {
  margin: 1em 0 1em 0;
}

/* Quiz container styles */
.quiz-container {
  padding: 2.5em 4.69em;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.quiz-question {
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  line-height: .98em;
  margin: 0 0 .8em 0;
}

.divider {
  border-bottom: .79px solid #DBDEF0;
  margin-top: 1.9em;
}

.quiz-answer-container {
  display: flex;
  flex-wrap: wrap;
  gap: .8em;
  
  
}

.answer {
  background-color: #F5F7FB;
  border: .77px solid var(--primary);
  border-radius: 7.71px;
  font-size: .875rem;
  padding: .45em .85em;
  margin-bottom: .1em;
  transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;

}

.answer:hover {
  background-color: #D6DBF5;
  border-color: #D6DBF5;
  transform: scale(1.05); /* Scale up slightly on hover */
}

.check-answer-btn {
  margin-top: 1em;
  align-self: center;
  width: auto;
}

.selected-answer {
  background-color: #D6DBF5;
  border: .79px solid #D6DBF5
}

.correct-answer {
  background-color: #94D7A2;
  border: .77px solid #94D7A2;
}

.incorrect-answer {
  background-color: #F8BCBC;
  border: .77px solid #F8BCBC;
  ;
}

.score-section {
  text-align: center;
}

.score-message {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.btn-container {
  display: flex;
  gap: 1em;
  margin-top: 3em;
  justify-content: center;
}
