/* Apply box-sizing to all elements */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Define root-level variables */
:root {
  --font-defalut: #293264;
  --primary: #4D5B9E;
  --primary-hover: #45518D;
}

/* Reset default margin and padding for HTML and body */
html, body {
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-size: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "inter", sans-serif;
}

/* Main container styles */
main {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #F5F7FB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Blob image styles */
.blob-top {
  top: 0px;
  right: 0px;
}

.blob-bottom {
  bottom: 0px;
  left: 0px;
}

.blob-top, .blob-bottom {
  position: absolute;
  width: 20%;
  height: auto;
}

/* Common text styles - change default font color */
.title,
.desc,
.modal-content-title,
.quiz-question,
.answer,
.score-message,
label,
select {
  color: var(--font-defalut);
}

/* Title and description styles for main page */
.title, .desc {
  text-align: center;
}

.title {
  margin: 0 0 0.224em 0;
  font-family: 'Fredoka', sans-serif;
  font-size: 1.95rem;
  letter-spacing: .1em;
  line-height: 1.269em;
  font-weight: 700;
}

.desc {
  margin: 0 0 1.8125em 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.21em;
}

/* Button styles - applied globally */
button {
  color: #F5F7FB;
  background-color: var(--primary);
  border: none;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: inherit;
  font-size: .9rem;
  padding: 1.0155em 1.8em;
  transition: transform 0.3s ease, background-color 0.3s ease; 
}

button:hover {
  transform: scale(1.02);
  background-color: var(--primary-hover);
}

/* Specific to button in the main page */
.start-btn {
  padding: 1.0155em 3.5em;
}

.start-btn.animate:hover {
  background-color: var(--primary-hover);
  transform: scale(1.04);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Animation for title screen elements */
/* Appear from slightly left */
.title,
.desc,
.start-btn {
  opacity: 0; 
  transform: translateX(-20px); 
  transition: opacity 0.6s ease, transform 0.6s ease; 
}

.title.animate,
.desc.animate,
.start-btn.animate {
  opacity: 1; 
  transform: translateX(0); 
}